<div class="dropdown" onmouseleave="setDropdownVisibility(this, false)" onclick="toggleDropdownVisibility(this)">
  <div class="flex items-center" onmouseover="setDropdownVisibility(this.parentElement, true);">
    <div class="dropdown-label">
      <%= title %>
    </div>
    <div class="dropdown-arrow dropdown-arrow-left"></div>
  </div>
  <div class="dropdown-list-container">
    <ul class="dropdown-list">
      <% groups.each do |group| %>
        <% if group[:title] %>
          <li class="dropdown-group-title dropdown-link">
            <%= group[:title] %>
          </li>
        <% end %>
    
        <% if !group[:items] then next end %>
    
        <% group[:items].each do |item| %>
          <% case item[:type] %>
          <% when 'link' %>
            <li>
              <%= link_to item[:label], item[:path], class: "dropdown-link hoverable" %>
            </li>
          <% when 'label' %>
            <li class="dropdown-link">
              <%= item[:label] %>
            </li>
          <% when 'button_to' %>
            <li>
              <%= button_to item[:label], item[:path], method: item[:method], class: "dropdown-link" %>
            </li>
          <% end %>
        <% end %>
    
      <% end %>
    </ul>
  </div>
</div>
